cicd-sol-api/src/main/mule/cicd-sol-api.xml
<?xml version="1.0" encoding="UTF-8"?>

<mule xmlns:http="http://www.mulesoft.org/schema/mule/http" xmlns="http://www.mulesoft.org/schema/mule/core"
	xmlns:doc="http://www.mulesoft.org/schema/mule/documentation"
	xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:schemaLocation="http://www.mulesoft.org/schema/mule/core http://www.mulesoft.org/schema/mule/core/current/mule.xsd
http://www.mulesoft.org/schema/mule/http http://www.mulesoft.org/schema/mule/http/current/mule-http.xsd">
	<http:listener-config name="HTTP_Listener_config" doc:name="HTTP Listener config" doc:id="e6b502d4-d0d9-4298-b1be-b21b2fa1d24a" >
		<http:listener-connection host="0.0.0.0" port="8081" />
	</http:listener-config>
	<flow name="cicd-sol-apiFlow" doc:id="fe3dd19a-f3a6-41e4-9a11-2de0fc5a51bb" >
		<http:listener doc:name="Listener" doc:id="0068d0eb-1704-4f9a-a523-b2cc07924318" config-ref="HTTP_Listener_config" path="/cicdapi"/>
		<logger level="INFO" doc:name="Logger" doc:id="8db1262d-6280-4311-8d23-acadb5d2112f" message="1st logger"/>
		<set-payload value='#["1st Set Payload"]' doc:name="Set Payload" doc:id="2f2bc3c3-ed2f-465e-b79d-79cff7af8881" />
	</flow>
</mule>
